<input type="hidden" ng-model="tweet.tweetId" />

<label for="username">Username</label>
<input type="text" ng-model="tweet.username" />

<label for="tweet">Tweet</label>
<input type="text" ng-model="tweet.tweetText" />

<button type="submit">Save</button>